absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1751547525079/work
accelerate==1.11.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
aiosqlite==0.21.0
annotated-types==0.7.0
anyio==4.11.0
appnope==0.1.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.0
astunparse @ file:///home/conda/feedstock_root/build_artifacts/astunparse_1736248061654/work
async-lru==2.0.5
async-timeout==5.0.1
attrs==25.4.0
babel==2.17.0
beautifulsoup4==4.14.2
bibtexparser==1.4.3
bleach==6.3.0
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1761592198202/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1760287617600/work
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.0
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1762167566647/work
comm==0.2.3
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1744743127814/work
cramjam==2.11.0
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography-split_1746241926093/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
cytoolz @ file:///Users/runner/miniforge3/conda-bld/cytoolz_1760905837554/work
dask @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_dask-core_1760473436/work
dataclasses-json @ file:///home/conda/feedstock_root/build_artifacts/dataclasses-json_1734217732310/work
debugpy==1.8.17
decorator==5.2.1
deepmerge==2.0
defusedxml==0.7.1
distributed @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_distributed_1760476147/work
distro==1.9.0
exceptiongroup==1.3.0
executing==2.2.1
faiss==1.9.0
fastjsonschema==2.21.2
fastparquet==2024.11.0
fastuuid==0.14.0
filelock==3.20.0
flatbuffers @ file:///home/conda/feedstock_root/build_artifacts/python-flatbuffers_1758880282135/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1759187193170/work
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2025.10.0
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1596839682936/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1761680898040/work
google-auth-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/google-auth-oauthlib_1688235217226/work
google-pasta @ file:///home/conda/feedstock_root/build_artifacts/google-pasta_1733852499742/work
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1756752115613/work
grpcio @ file:///Users/runner/miniforge3/conda-bld/grpc-split_1690942412890/work
h11==0.16.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1760616541502/work
hatchling==1.27.0
hf-xet==1.2.0
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore==1.0.9
httpx==0.28.1
httpx-sse @ file:///home/conda/feedstock_root/build_artifacts/httpx-sse_1760142654726/work
huggingface-hub==1.0.1
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna==3.11
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1738273805233/work
importlib-metadata==8.7.0
ipykernel==7.1.0
ipython==8.37.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1762040433881/work
isoduration==20.11.0
jax @ file:///home/conda/feedstock_root/build_artifacts/jax_1701797706822/work
jaxlib==0.4.14
jedi==0.19.2
jinja2==3.1.6
jiter==0.11.1
joblib==1.5.2
json5==0.12.1
jsonpatch==1.33
jsonpath-ng @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jsonpath-ng_1751583840/work
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter @ file:///home/conda/feedstock_root/build_artifacts/jupyter_1733818543322/work
jupyter-ai @ git+https://github.com/jupyterlab/jupyter-ai.git@a158513d4ffe092f563471b9184f33d3a1976bcd
jupyter-ai-chat-commands==0.0.3
jupyter-ai-jupyternaut==0.0.4
jupyter-ai-litellm==0.0.1
jupyter-ai-magic-commands==0.0.2
jupyter-ai-magics @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter-ai-magics_1757351407/work
jupyter-ai-persona-manager==0.0.4
jupyter-ai-router==0.0.2
jupyter-client==8.6.3
jupyter-collaboration==4.1.1
jupyter-collaboration-ui==2.1.1
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1733817997778/work
jupyter-core==5.9.1
jupyter-docprovider==2.1.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter-server==2.17.0
jupyter-server-documents==0.1.0a8
jupyter-server-fileid==0.9.3
jupyter-server-terminals==0.5.3
jupyter-server-ydoc==2.1.1
jupyter-ydoc==3.1.0
jupyterlab==4.4.10
jupyterlab-chat==0.19.0a0
jupyterlab-commands-toolkit==0.1.2
jupyterlab-eventlistener==0.4.0
jupyterlab-pygments==0.3.0
jupyterlab-server==2.28.0
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1762040438504/work
kaggle==1.7.4.5
keras @ file:///home/conda/feedstock_root/build_artifacts/keras_1700038168849/work/keras-2.15.0-py3-none-any.whl
keras-preprocessing @ file:///home/conda/feedstock_root/build_artifacts/keras-preprocessing_1736115346640/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_kiwisolver_1756467593/work
langchain==1.0.3
langchain-community @ file:///home/conda/feedstock_root/build_artifacts/langchain-community_1747066704338/work
langchain-core==1.0.3
langchain-text-splitters @ file:///home/conda/feedstock_root/build_artifacts/langchain-text-splitters_1743799028984/work
langgraph==1.0.2
langgraph-checkpoint==3.0.0
langgraph-checkpoint-sqlite==3.0.0
langgraph-prebuilt==1.0.2
langgraph-sdk==0.2.9
langsmith==0.4.39
lark==1.3.1
lazy-loader @ file:///home/conda/feedstock_root/build_artifacts/lazy-loader_1733636780672/work
litellm==1.79.1
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1757093412127/work
markupsafe==3.0.3
marshmallow @ file:///home/conda/feedstock_root/build_artifacts/marshmallow_1738612362469/work
matplotlib==3.10.7
matplotlib-inline==0.2.1
mistune==3.1.4
ml-dtypes @ file:///Users/runner/miniforge3/conda-bld/ml_dtypes_1695281108029/work
mpmath==1.3.0
msgpack @ file:///Users/runner/miniforge3/conda-bld/msgpack-python_1759930632000/work
multidict==6.7.0
munkres==1.1.4
mypy-extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1745776566517/work
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1731521053/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1759152069573/work
notebook-shim==0.2.4
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1707225538192/work/dist/numpy-1.26.4-cp310-cp310-macosx_10_9_x86_64.whl
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1750415243897/work
openai==2.6.1
opt-einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1733687912731/work
orjson==3.11.4
ormsgpack==1.11.0
overrides==7.7.0
packaging==25.0
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.5
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1715026491486/work
pathspec==0.12.1
pexpect==4.9.0
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pillow_1761655892/work
pip==25.3
platformdirs==4.5.0
pluggy==1.6.0
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1733239724146/work
prometheus-client==0.23.1
prompt-toolkit==3.0.52
propcache==0.4.1
protobuf==4.21.12
psutil==7.1.3
ptyprocess==0.7.0
pure-eval==0.2.3
pyarrow==22.0.0
pyasn1 @ file:///home/conda/feedstock_root/build_artifacts/pyasn1_1733217608156/work
pyasn1-modules @ file:///home/conda/feedstock_root/build_artifacts/pyasn1-modules_1743436035994/work
pycparser==2.23
pycrdt==0.12.43
pycrdt-store==0.1.2
pycrdt-websocket==0.16.0
pydantic==2.12.3
pydantic-core==2.41.4
pydantic-settings @ file:///home/conda/feedstock_root/build_artifacts/pydantic-settings_1758734066529/work
pygments==2.19.2
pyjwt @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1732782409051/work
pyobjc-core @ file:///Users/runner/miniforge3/conda-bld/pyobjc-core_1761238073876/work
pyobjc-framework-cocoa @ file:///Users/runner/miniforge3/conda-bld/pyobjc-framework-cocoa_1761249829637/work
pyopenssl @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1733777368795/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1758436411/work
pysocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==4.0.0
python-slugify==8.0.4
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1733738580568/work
pywavelets==1.8.0
pyyaml==6.0.3
pyzmq==27.1.0
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1733772243268/work
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rpds-py==0.28.0
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1744825426113/work
safetensors==0.6.2
scikit-image @ file:///Users/runner/miniforge3/conda-bld/scikit-image_1757196837980/work/dist/scikit_image-0.25.2-cp310-cp310-macosx_10_13_x86_64.whl
scikit-learn==1.7.2
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1739790744051/work/dist/scipy-1.15.2-cp310-cp310-macosx_10_13_x86_64.whl
send2trash==1.8.3
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1738440353519/work
soupsieve==2.8
sqlalchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1760114582257/work
sqlite-anyio==0.2.3
sqlite-vec==0.1.6
stack-data==0.6.3
sympy==1.14.0
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1743515515538/work
tenacity==9.1.2
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1707486779203/work/tensorboard-2.15.2-py3-none-any.whl
tensorboard-data-server @ file:///Users/runner/miniforge3/conda-bld/tensorboard-data-server_1759413200027/work/tensorboard_data_server-0.7.0-py3-none-macosx_10_9_x86_64.whl
tensorflow @ file:///Users/uwe/Development/conda-forge/tensorflow-feedstock/tensorflow-feedstock-osx_64_numpy1.22python3.10.____cpython/miniforge3/conda-bld/tensorflow-split_1702650290921/work/tensorflow_pkg/tensorflow-2.15.0-cp310-cp310-macosx_10_13_x86_64.whl
tensorflow-estimator @ file:///Users/uwe/Development/conda-forge/tensorflow-feedstock/tensorflow-feedstock-osx_64_numpy1.22python3.10.____cpython/miniforge3/conda-bld/tensorflow-split_1702650290921/work/tensorflow-estimator/wheel_dir/tensorflow_estimator-2.15.0-py2.py3-none-any.whl
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1761565758678/work
terminado==0.18.1
text-unidecode==1.3
threadpoolctl==3.6.0
tifffile @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_84kw_t11k3/croot/tifffile_1741164553911/work
tiktoken==0.12.0
tinycss2==1.4.0
tokenizers==0.22.1
tomli==2.3.0
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1760707739667/work
torch==2.2.2
torchvision==0.17.2
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.57.1
trove-classifiers==2025.9.11.17
typer-slim==0.20.0
typing-extensions==4.15.0
typing-inspect @ file:///home/conda/feedstock_root/build_artifacts/typing_inspect_1733845867367/work
typing-inspection==0.4.2
typing-utils @ file:///home/conda/feedstock_root/build_artifacts/typing_utils_1733331286120/work
tzdata==2025.2
ucimlrepo==0.0.7
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1756494541888/work
uri-template==1.3.0
urllib3==2.5.0
wcwidth==0.2.14
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1733160440960/work
wheel==0.45.1
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1762040310212/work
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1666806089387/work
xxhash==3.6.0
yarl==1.22.0
zict @ file:///home/conda/feedstock_root/build_artifacts/zict_1733261551178/work
zipp==3.23.0
zstandard==0.25.0
